.signin-form{
    width: 50%;
    padding: 1%;
}
.bgright,.bgleft{
    width: 50%;
    background: linear-gradient(270deg, #9C382E -100%, #FF7337 100%);
}
.logobg{
    width: 172px;
height: 172px;
left: 263px;
top: 21px;

background: rgba(255, 255, 191, 0.8);
border-radius: 1012px;
}
img.bookimg{
    width: 577px;
height: 433px;
left: 74px;
top: 226.5px;
}
img.imglogo{
    width: 202px;
height: 172px;
}
.logo{
    margin-left: 33%;
}
h2{
    width: 247px;
height: 67px;
font-family: 'Rozha One';
font-style: normal;
font-weight: 400;
font-size: 47px;
line-height: 67px;
MARGIN-LEFT: -18PX;
/* identical to box height */


color: #9C382E;
}
.register{
    color: white;
    width: 147px;
height: 52px;

background: linear-gradient(263.14deg, #FF7337 -3.64%, #9C382E 100%);
border-radius: 17px;
border-style: none;
font-family: 'Rozha One';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 33px;
}
h3{
    text-align: center;
font-family: 'Rozha One';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 43px;
/* identical to box height */

letter-spacing: 0.1em;

background: linear-gradient(180deg, #FF7337 0%, #9C382E 100%, #9C382E 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* text-fill-color: transparent; */
}
.formsignin{
    margin-top: 30%;
}
.form-controll {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
  }
  .form-controll label {
    display: inline-block;
    margin-bottom: 5px;
  }
  .form-controll input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
  }
  .form-controll input:focus {
    outline: 0;
    border-color: #777;
  }
  .form-controll.success input {
    border-color: #2ecc71;
  }
  .form-controll.error input {
    border-color: #e74c3c;
  }
  .form-controll i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
  }
  .form-controll.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
  }
  .form-controll.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
  }
  .form-controll small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  .form-controll.error small {
    visibility: visible;
  }
