.file-input {
    width: 100%;
    background-color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #nav {
    background-color: #2d2d2d54;
  }
  .file-input input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .previewImage,.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
  }
  .previewImages {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .previewImage + img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-img-overlay {
    position: relative;
  }
  
  .card-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: white;
  }
  
  .card-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .card-text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0062cc;
  }
.content{
  margin-top: 100%;
}

.card {
  white-space: nowrap;
}

.wow {
  display: inline-block;
  width: 50%;
}

.content {
  top: 50%;
  transform: translate(0, -50%);
}